
*.json
*.o
*.so
*.bin
*.bit
*.dtbo
*.obj
*.vcd
*.elf

*.bmp
*.png
*.jpg
*.pgm
*.ppm
*.hex
*.csv
*.mp4
*.avi
*.*_

*.ncb
*.opt
*.plg
*.html
*.lso
*.ngc
*.ngr
*.stx
*.syr
*.cmd_log
*.xst
*.xrpt
*.jou
*.log
*.pb
*.vtakdisk
*.vtakwave
*.zip
*.sdf
*.suo
*.xml
*.prj
*.out
*.das
*.map
*.opensdf
*.db
*.str
*.dcp
*.veo
*.vho
*.btree
*.bgn
*.bld
*.drc
*.ncd
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.ncd
*.mrp
*.ncd
*.ngm
*.psr
veritak_src_files.txt
veritak_command.txt
p_temp*.txt
out*.txt
exp*.txt
axi4_read*.txt
axi4_write*.txt

Debug/
Release/
xst/
.vs/
iseconfig/
_xmsgs/
*.Xil/
*.cache/
*.hw/
*.runs/
*.sdk/
*.sim/
*.srcs/
*.gise
*.ip_user_files/
.ipynb_checkpoints/
doc/build/

**/ip/*

# ローカル便利ツール除外
copy_bit.bat

*.bak
*_
*コピー
*コピー.*
* copy.*
Untitled.*

a.out
bitmap.h

# exefile
*.exe
mnist_demo
gpu_gouraud
imx219_test
test_app
udmabuf_sample



projects/arty_a7_35t_sample/
