
# special file
.*
!.gitignore
!.python-version
!.vitis-version
!.cargo

# private file
_*
*_
*_.*

# backup
backup/
*.bak
*.back
Untitled.*
* copy
* copy.*
*コピー
*コピー.*
*.tmp

# media file
*.bmp
*.png
*.jpg
*.pgm
*.ppm
*.mp4
*.avi

# binary file
*.out
*.elf
*.o
*.so
*.exe
*.obj
*.lib
*.bin
*.dtb
*.dtbo
*.bit
*.ltx
*.xsa

# wave file
*.wdb
*.vcd
*.fst
*.hier
*.gtkw
*.gtkwave

# data file
*.hex
*.csv
*.json
*.pickle

# archive
*.tar
*.gz
*.tgz
*.zip
*.7z

# Xilinx
xsim.dir/
xst/
iseconfig/
_xmsgs/
*.Xil/
*.cache/
*.hw/
*.runs/
*.sdk/
*.sim/
*.srcs/
*.gen/
*.gise
*.ip_user_files/
*.ioplanning/
NA/
bd/

# Gowin
impl/
*.fs

# Veritak
veritak_src_files.txt
veritak_command.txt
*.vtakdisk
*.vtakwave



# other
*.das
*.ncb
*.opt
*.plg
*.html
*.lso
*.ngc
*.ngr
*.stx
*.syr
*.cmd_log
*.xst
*.xrpt
*.jou
*.log
*.pb
*.sdf
*.suo
*.xml
*.prj
*.out
*.das
*.map
*.opensdf
*.db
*.str
*.dcp
*.veo
*.vho
*.btree
*.bgn
*.bld
*.drc
*.ncd
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.ncd
*.mrp
*.ncd
*.ngm
*.psr
*.xbcd
*.lst
*.lnk
*.vvp
*.deb

.vs/


*_pb2.py
*_pb2_grpc.py

*_tcl.xpr


p_temp*.txt
*_log.txt
log.txt
out*.txt
exp*.txt
axi4_read*.txt
axi4_write*.txt
axi4_*_read.txt
axi4_*_write.txt
axi4_mem*_read*.txt
axi4_mem*_write*.txt
coverage.dat
memo.txt
mnist*.txt
buf_rd*.txt
buf_wr*.txt

axi4_mem*.txt
*_trace*.txt

*_/
obj_dir/
logs/
annotated/
build/
Debug/
Release/


.ipynb_checkpoints/
doc/build/
workspace/
backup/
target/

# **/ip/*

# hos
kernel_cfg.c
kernel_id.h
*.mot
*.elf

# ローカル便利ツール除外
copy_bit.*
bit_copy.*
bin_copy.*


a.out
bitmap.h
*.ipynb

# exefile
*.exe
mnist_demo
gpu_gouraud
imx219_test
test_app
udmabuf_sample
memwrite
memread
memdump
