
*.json
*.o
*.bin
*.bit
*.dtbo
*.obj
*.vcd
*.elf

*.png
*.jpg
*.pgm
*.ppm
*.hex

*.ncb
*.opt
*.plg
*.html
*.lso
*.ngc
*.ngr
*.stx
*.syr
*.cmd_log
*.xst
*.xrpt
*.jou
*.log
*.pb
*.vtakdisk
*.vtakwave
*.zip
*.sdf
*.suo
*.xml
*.prj
*.out
*.das
*.map
*.opensdf
*.db
*.str
*.dcp
*.veo
*.vho
*.xdc
*.btree
*.bgn
*.bld
*.drc
*.ncd
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.ncd
*.mrp
*.ncd
*.ngm
*.psr

*.cache/
*.hw/
*.runs/
*.sdk/
*.srcs/
*.gise

*.bak
*_
*コピー
*コピー.*

a.out
bitmap.h

# exefile
*.exe
mnist_demo
gpu_gouraud
imx219_test
test_app
udmabuf_sample