[submodule "rust/mem_access"]
	path = rust/mem_access
	url = https://github.com/ryuz/jelly-mem_access.git
[submodule "rust/lib"]
	path = rust/lib
	url = https://github.com/ryuz/jelly-lib-rs.git
[submodule "rust/pac"]
	path = rust/pac
	url = https://github.com/ryuz/jelly-pac-rs.git
[submodule "jellyvl"]
	path = rtl/jellyvl
	url = https://github.com/ryuz/jellyvl.git
[submodule "projects/tang_nano_4k/tang_nano_4k_mnist/TangNano-4K-example"]
	path = projects/tang_nano_4k/tang_nano_4k_mnist/TangNano-4K-example
	url = https://github.com/sipeed/TangNano-4K-example.git
