NET "clk_in" LOC = T9;

NET "reset_in" LOC = L14;

NET "uart_tx" LOC = R13;
NET "uart_rx" LOC = T13;

NET "led<0>" LOC = "K12";
NET "led<1>" LOC = "P14";
NET "led<2>" LOC = "L12";
NET "led<3>" LOC = "N14";
NET "led<4>" LOC = "P13";
NET "led<5>" LOC = "N12";
NET "led<6>" LOC = "P12";
NET "led<7>" LOC = "P11";

NET "sram_a<0>" LOC = "L5";
NET "sram_a<1>" LOC = "N3";
NET "sram_a<2>" LOC = "M4";
NET "sram_a<3>" LOC = "M3";
NET "sram_a<4>" LOC = "L4";
NET "sram_a<5>" LOC = "G4";
NET "sram_a<6>" LOC = "F3";
NET "sram_a<7>" LOC = "F4";
NET "sram_a<8>" LOC = "E3";
NET "sram_a<9>" LOC = "E4";
NET "sram_a<10>" LOC = "G5";
NET "sram_a<11>" LOC = "H3";
NET "sram_a<12>" LOC = "H4";
NET "sram_a<13>" LOC = "J4";
NET "sram_a<14>" LOC = "J3";
NET "sram_a<15>" LOC = "K3";
NET "sram_a<16>" LOC = "K5";
NET "sram_a<17>" LOC = "L3";
NET "sram_d<0>" LOC = "N7";
NET "sram_d<1>" LOC = "T8";
NET "sram_d<2>" LOC = "R6";
NET "sram_d<3>" LOC = "T5";
NET "sram_d<4>" LOC = "R5";
NET "sram_d<5>" LOC = "C2";
NET "sram_d<6>" LOC = "C1";
NET "sram_d<7>" LOC = "B1";
NET "sram_d<8>" LOC = "D3";
NET "sram_d<9>" LOC = "P8";
NET "sram_d<10>" LOC = "F2";
NET "sram_d<11>" LOC = "H1";
NET "sram_d<12>" LOC = "J2";
NET "sram_d<13>" LOC = "L2";
NET "sram_d<14>" LOC = "P1";
NET "sram_d<15>" LOC = "R1";
NET "sram_d<16>" LOC = "P2";
NET "sram_d<17>" LOC = "N2";
NET "sram_d<18>" LOC = "M2";
NET "sram_d<19>" LOC = "K1";
NET "sram_d<20>" LOC = "J1";
NET "sram_d<21>" LOC = "G2";
NET "sram_d<22>" LOC = "E1";
NET "sram_d<23>" LOC = "D1";
NET "sram_d<24>" LOC = "D2";
NET "sram_d<25>" LOC = "E2";
NET "sram_d<26>" LOC = "G1";
NET "sram_d<27>" LOC = "F5";
NET "sram_d<28>" LOC = "C3";
NET "sram_d<29>" LOC = "K2";
NET "sram_d<30>" LOC = "M1";
NET "sram_d<31>" LOC = "N1";
NET "sram_bls_n<0>" LOC = "P6";
NET "sram_bls_n<1>" LOC = "T4";
NET "sram_bls_n<2>" LOC = "P5";
NET "sram_bls_n<3>" LOC = "R4";
NET "sram_ce0_n" LOC = "P7";
NET "sram_ce1_n" LOC = "N5";
NET "sram_oe_n" LOC = "K4";
NET "sram_we_n" LOC = "G3";

NET "ext<0>" LOC = "E6";
NET "ext<1>" LOC = "D5";
NET "ext<2>" LOC = "C5";
NET "ext<3>" LOC = "D6";
NET "ext<4>" LOC = "C6";
NET "ext<5>" LOC = "E7";
NET "ext<6>" LOC = "C7";
NET "ext<7>" LOC = "D7";
NET "ext<8>" LOC = "C8";
NET "ext<9>" LOC = "D8";
NET "ext<10>" LOC = "C9";
NET "ext<11>" LOC = "D10";
NET "ext<12>" LOC = "A3";
NET "ext<13>" LOC = "B4";
NET "ext<14>" LOC = "A4";
NET "ext<15>" LOC = "B5";
NET "ext<16>" LOC = "A5";
NET "ext<17>" LOC = "B6";
NET "ext<18>" LOC = "B7";
NET "ext<19>" LOC = "A7";
NET "ext<20>" LOC = "B8";
NET "ext<21>" LOC = "A8";
NET "ext<22>" LOC = "A9";
NET "ext<23>" LOC = "B10";
NET "ext<24>" LOC = "A10";
NET "ext<25>" LOC = "B11";
NET "ext<26>" LOC = "B12";
NET "ext<27>" LOC = "A12";
NET "ext<28>" LOC = "B13";
NET "ext<29>" LOC = "A13";
NET "ext<30>" LOC = "B14";


NET "clk_in" TNM_NET = clk_in;
TIMESPEC TS_clk_in = PERIOD "clk_in" 50 MHz HIGH 50%;
