# ----------------------------------------------------------------------------
#  Jelly -- The computing system
#                       for CQ-FRK-S3E2 (Design Wave Magazine 2007 July)
#
#                                       Copyright (C) 2008 by Ryuji Fuchikami
#                                       https://github.com/ryuz/
# ----------------------------------------------------------------------------


# clock
NET "in_clk" LOC = "P88" | IOSTANDARD = LVCMOS33 ;
NET "in_clk" TNM_NET = in_clk;
TIMESPEC TS_in_clk = PERIOD "in_clk" 50 MHz HIGH 50%;

# reset
NET "in_reset_n" LOC = "P89" | IOSTANDARD = LVCMOS33 | PULLDOWN ;

# LED
NET "led" LOC = "P98" | IOSTANDARD = LVCMOS33 ;

