
IO_LOC "in_reset" U4;
IO_PORT "in_reset" IO_TYPE=LVCMOS15 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=1.5;

IO_LOC "in_clk50" P16;
IO_PORT "in_clk50" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "uart_tx" P15;
IO_PORT "uart_tx" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_rx" N16;
IO_PORT "uart_rx" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "led_n[0]" J14;
IO_LOC "led_n[1]" R26;
IO_LOC "led_n[2]" L20;
IO_LOC "led_n[3]" M25;
IO_LOC "led_n[4]" N21;
IO_LOC "led_n[5]" N23;
IO_PORT "led_n[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "push_sw_n[0]" K16;
IO_LOC "push_sw_n[1]" F15;
IO_LOC "push_sw_n[2]" G15;
IO_LOC "push_sw_n[3]" G16;
IO_PORT "push_sw_n[0]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "push_sw_n[1]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "push_sw_n[2]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "push_sw_n[3]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;


IO_LOC "i2c_scl" K25;
IO_LOC "i2c_sda" K26;
IO_LOC "i2c_sel[0]" N19;
IO_LOC "i2c_sel[1]" P19;
IO_LOC "i2c_sel[2]" P26;
IO_PORT "i2c_scl"    PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "i2c_sda"    PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "i2c_sel[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "i2c_sel[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "i2c_sel[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


IO_LOC "mipi0_rstn" L14;
IO_PORT "mipi0_rstn" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "mipi0_clk_p"     Y3;
IO_LOC "mipi0_clk_n"     AA3;
IO_LOC "mipi0_data_p[0]" V1;
IO_LOC "mipi0_data_n[0]" W1;
IO_LOC "mipi0_data_p[1]" Y2;
IO_LOC "mipi0_data_n[1]" AA2;

IO_LOC "dvi_tx_data_p[0]" AB24,AC24;
IO_PORT "dvi_tx_data_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "dvi_tx_data_p[1]" V24,AC24;
IO_PORT "dvi_tx_data_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "dvi_tx_data_p[2]" AA22,AA23;
IO_PORT "dvi_tx_data_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "dvi_tx_clk_p" Y22,Y23;
IO_PORT "dvi_tx_clk_p" PULL_MODE=NONE DRIVE=8;


# PMOD
# IO_LOC "pmod0[0]" N18;
# IO_LOC "pmod0[1]" L22;
# IO_LOC "pmod0[2]" R16;
# IO_LOC "pmod0[3]" R17;
# IO_LOC "pmod0[4]" M26;
# IO_LOC "pmod0[5]" N17;
# IO_LOC "pmod0[6]" L24;
# IO_LOC "pmod0[7]" T24;
# IO_PORT "pmod0[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "pmod1[0]" C24;
IO_LOC "pmod1[1]" E25;
IO_LOC "pmod1[2]" L17;
IO_LOC "pmod1[3]" H14;
IO_LOC "pmod1[4]" B24;
IO_LOC "pmod1[5]" D25;
IO_LOC "pmod1[6]" L18;
IO_LOC "pmod1[7]" H15;
IO_PORT "pmod1[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "pmod2[0]" C21;
IO_LOC "pmod2[1]" B20;
IO_LOC "pmod2[2]" B19;
IO_LOC "pmod2[3]" A17;
IO_LOC "pmod2[4]" B21;
IO_LOC "pmod2[5]" A20;
IO_LOC "pmod2[6]" A19;
IO_LOC "pmod2[7]" A18;
IO_PORT "pmod2[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

