# ----------------------------------------------------------------------------
#  Jelly  -- the soft-core processor system
#
#                                  Copyright (C) 2008-2009 by Ryuji Fuchikami 
#                                  http://homepage3.nifty.com/ryuz
# ----------------------------------------------------------------------------


# clock
NET "in_clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "in_clk" TNM_NET = in_clk;
TIMESPEC TS_in_clk = PERIOD "in_clk" 20.0 ns HIGH 40%;

# reset
NET "in_reset" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;

# UART
NET "uart0_tx" LOC = "M14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET "uart0_rx" LOC = "R7"  | IOSTANDARD = LVTTL ;
NET "uart1_tx" LOC = "M13" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET "uart1_rx" LOC = "U8"  | IOSTANDARD = LVTTL ;

# I2C
NET "i2c0_scl" LOC = "F8"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 | PULLUP ;
NET "i2c0_sda" LOC = "E8"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 | PULLUP ;

# GPIO
NET "gpio_a<0>" LOC = "B4" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 | PULLUP ;
NET "gpio_a<1>" LOC = "A4" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 | PULLUP ;
NET "gpio_a<2>" LOC = "D5" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 | PULLUP ;
NET "gpio_a<3>" LOC = "C5" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 | PULLUP ;

NET "gpio_b<0>" LOC = "A6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 | PULLUP ;
NET "gpio_b<1>" LOC = "B6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 | PULLUP ;
NET "gpio_b<2>" LOC = "E7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 | PULLUP ;
NET "gpio_b<3>" LOC = "F7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 | PULLUP ;

# SW
NET	"sw<0>"	LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET	"sw<1>"	LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET	"sw<2>"	LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET	"sw<3>"	LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;

# LED
NET "led<0>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led<2>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led<3>" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led<4>" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led<5>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led<6>" LOC = "E9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led<7>" LOC = "F9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

# NOR FLASH
NET "flash_sts"    LOC = "B18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET "flash_byte_n" LOC = "C17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_cs_n"   LOC = "D16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_oe_n"   LOC = "C18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_we_n"   LOC = "D17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<24>"  LOC = "A11" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<23>"  LOC = "N11" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<22>"  LOC = "V12" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<21>"  LOC = "V13" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<20>"  LOC = "T12" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<19>"  LOC = "V15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<18>"  LOC = "U15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<17>"  LOC = "T16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<16>"  LOC = "U18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<15>"  LOC = "T17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<14>"  LOC = "R18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<13>"  LOC = "T18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<12>"  LOC = "L16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<11>"  LOC = "L15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<10>"  LOC = "K13" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<9>"   LOC = "K12" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<8>"   LOC = "K15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<7>"   LOC = "K14" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<6>"   LOC = "J17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<5>"   LOC = "J16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<4>"   LOC = "J15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<3>"   LOC = "J14" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<2>"   LOC = "J12" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<1>"   LOC = "J13" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_a<0>"   LOC = "H17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<15>"  LOC = "T8"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<14>"  LOC = "R8"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<13>"  LOC = "P6"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<12>"  LOC = "M16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<11>"  LOC = "M15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<10>"  LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<9>"   LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<8>"   LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<7>"   LOC = "N9"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<6>"   LOC = "M9"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<5>"   LOC = "R9"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<4>"   LOC = "U9"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<3>"   LOC = "V9"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<2>"   LOC = "R10" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<1>"   LOC = "P10" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "flash_d<0>"   LOC = "N10" | IOSTANDARD = LVCMOS33 | DRIVE = 6 | SLEW = SLOW ;
               
# DDR-SDRAM 
NET "ddr_sdram_a<12>"  LOC = "P2" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_a<11>"  LOC = "N5" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_a<10>"  LOC = "T2" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_a<9>"   LOC = "N4" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_a<8>"   LOC = "H2" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_a<7>"   LOC = "H1" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_a<6>"   LOC = "H3" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_a<5>"   LOC = "H4" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_a<4>"   LOC = "F4" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_a<3>"   LOC = "P1" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_a<2>"   LOC = "R2" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_a<1>"   LOC = "R3" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_a<0>"   LOC = "T1" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_dq<15>" LOC = "H5" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<14>" LOC = "H6" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<13>" LOC = "G5" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<12>" LOC = "G6" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<11>" LOC = "F2" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<10>" LOC = "F1" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<9>"  LOC = "E1" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<8>"  LOC = "E2" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<7>"  LOC = "M6" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<6>"  LOC = "M5" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<5>"  LOC = "M4" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<4>"  LOC = "M3" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<3>"  LOC = "L4" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<2>"  LOC = "L3" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<1>"  LOC = "L1" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_dq<0>"  LOC = "L2" | IOSTANDARD = SSTL2_I | IFD_DELAY_VALUE = 7 ;
NET "ddr_sdram_ba<0>"  LOC = "K5" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_ba<1>"  LOC = "K6" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_cas"    LOC = "C2" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_ck_n"   LOC = "J4" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_ck_p"   LOC = "J5" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_cke"    LOC = "K3" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_cs"     LOC = "K4" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_ldm"    LOC = "J2" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_ldqs"   LOC = "L6" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_ras"    LOC = "C1" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_udm"    LOC = "J1" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_udqs"   LOC = "G3" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_we"     LOC = "D1" | IOSTANDARD = SSTL2_I ;
NET "ddr_sdram_ck_fb"  LOC = "B9" | IOSTANDARD = LVCMOS33 ;
CONFIG PROHIBIT = D2;
CONFIG PROHIBIT = G4;
CONFIG PROHIBIT = J6;
CONFIG PROHIBIT = L5;
CONFIG PROHIBIT = R4;


# Async
INST "*__async_tx*" TNM = "ASYNC_TX";
INST "*__async_rx*" TNM = "ASYNC_RX";
TIMESPEC "TS_ASYNC" = FROM "ASYNC_TX" TO "ASYNC_RX" TS_in_clk;

