
# clock
NET "in_clk"   LOC = "T9" ;
NET "in_clk" TNM_NET = clk_in;
TIMESPEC TS_in_clk = PERIOD "in_clk" 20.0 ns HIGH 50%;

# reset
NET "in_reset" LOC = "L14" ;

# UART
NET "uart0_tx" LOC = "R13" ;
NET "uart0_rx" LOC = "T13" ;
NET "uart1_tx" LOC = "T14" ;
NET "uart1_rx" LOC = "N10" ;

# SW
NET	"sw[0]"		LOC = "F12" ;
NET	"sw[1]"		LOC = "G12" ;
NET	"sw[2]"		LOC = "H14" ;
NET	"sw[3]"		LOC = "H13" ;
NET	"sw[4]"		LOC = "J14" ;
NET	"sw[5]"		LOC = "J13" ;
NET	"sw[6]"		LOC = "K14" ;
NET	"sw[7]"		LOC = "K13" ;

# LED
NET "led<0>" LOC = "K12";
NET "led<1>" LOC = "P14";
NET "led<2>" LOC = "L12";
NET "led<3>" LOC = "N14";
NET "led<4>" LOC = "P13";
NET "led<5>" LOC = "N12";
NET "led<6>" LOC = "P12";
NET "led<7>" LOC = "P11";

# ASRAM
NET "asram_a<0>" LOC = "L5";
NET "asram_a<1>" LOC = "N3";
NET "asram_a<2>" LOC = "M4";
NET "asram_a<3>" LOC = "M3";
NET "asram_a<4>" LOC = "L4";
NET "asram_a<5>" LOC = "G4";
NET "asram_a<6>" LOC = "F3";
NET "asram_a<7>" LOC = "F4";
NET "asram_a<8>" LOC = "E3";
NET "asram_a<9>" LOC = "E4";
NET "asram_a<10>" LOC = "G5";
NET "asram_a<11>" LOC = "H3";
NET "asram_a<12>" LOC = "H4";
NET "asram_a<13>" LOC = "J4";
NET "asram_a<14>" LOC = "J3";
NET "asram_a<15>" LOC = "K3";
NET "asram_a<16>" LOC = "K5";
NET "asram_a<17>" LOC = "L3";
NET "asram_d<0>" LOC = "N7";
NET "asram_d<1>" LOC = "T8";
NET "asram_d<2>" LOC = "R6";
NET "asram_d<3>" LOC = "T5";
NET "asram_d<4>" LOC = "R5";
NET "asram_d<5>" LOC = "C2";
NET "asram_d<6>" LOC = "C1";
NET "asram_d<7>" LOC = "B1";
NET "asram_d<8>" LOC = "D3";
NET "asram_d<9>" LOC = "P8";
NET "asram_d<10>" LOC = "F2";
NET "asram_d<11>" LOC = "H1";
NET "asram_d<12>" LOC = "J2";
NET "asram_d<13>" LOC = "L2";
NET "asram_d<14>" LOC = "P1";
NET "asram_d<15>" LOC = "R1";
NET "asram_d<16>" LOC = "P2";
NET "asram_d<17>" LOC = "N2";
NET "asram_d<18>" LOC = "M2";
NET "asram_d<19>" LOC = "K1";
NET "asram_d<20>" LOC = "J1";
NET "asram_d<21>" LOC = "G2";
NET "asram_d<22>" LOC = "E1";
NET "asram_d<23>" LOC = "D1";
NET "asram_d<24>" LOC = "D2";
NET "asram_d<25>" LOC = "E2";
NET "asram_d<26>" LOC = "G1";
NET "asram_d<27>" LOC = "F5";
NET "asram_d<28>" LOC = "C3";
NET "asram_d<29>" LOC = "K2";
NET "asram_d<30>" LOC = "M1";
NET "asram_d<31>" LOC = "N1";
NET "asram_bls_n<0>" LOC = "P6";
NET "asram_bls_n<1>" LOC = "T4";
NET "asram_bls_n<2>" LOC = "P5";
NET "asram_bls_n<3>" LOC = "R4";
NET "asram_ce0_n" LOC = "P7";
NET "asram_ce1_n" LOC = "N5";
NET "asram_oe_n" LOC = "K4";
NET "asram_we_n" LOC = "G3";

NET "ext<0>" LOC = "E6";
NET "ext<1>" LOC = "D5";
NET "ext<2>" LOC = "C5";
NET "ext<3>" LOC = "D6";
NET "ext<4>" LOC = "C6";
NET "ext<5>" LOC = "E7";
NET "ext<6>" LOC = "C7";
NET "ext<7>" LOC = "D7";
NET "ext<8>" LOC = "C8";
NET "ext<9>" LOC = "D8";
NET "ext<10>" LOC = "C9";
NET "ext<11>" LOC = "D10";
NET "ext<12>" LOC = "A3";
NET "ext<13>" LOC = "B4";
NET "ext<14>" LOC = "A4";
NET "ext<15>" LOC = "B5";
NET "ext<16>" LOC = "A5";
NET "ext<17>" LOC = "B6";
NET "ext<18>" LOC = "B7";
NET "ext<19>" LOC = "A7";
NET "ext<20>" LOC = "B8";
NET "ext<21>" LOC = "A8";
NET "ext<22>" LOC = "A9";
NET "ext<23>" LOC = "B10";
NET "ext<24>" LOC = "A10";
NET "ext<25>" LOC = "B11";
NET "ext<26>" LOC = "B12";
NET "ext<27>" LOC = "A12";
NET "ext<28>" LOC = "B13";
NET "ext<29>" LOC = "A13";
NET "ext<30>" LOC = "B14";

