IO_LOC "in_reset" U4;
IO_PORT "in_reset" IO_TYPE=LVCMOS15 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=1.5;

IO_LOC "in_clk50" P16;
IO_PORT "in_clk50" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "uart_tx" P15;
IO_PORT "uart_tx" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_rx" N16;
IO_PORT "uart_rx" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "led_n[0]" J14;
IO_LOC "led_n[1]" R26;
IO_LOC "led_n[2]" L20;
IO_LOC "led_n[3]" M25;
IO_LOC "led_n[4]" N21;
IO_LOC "led_n[5]" N23;
IO_PORT "led_n[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "push_sw_n[0]" K16;
IO_LOC "push_sw_n[1]" F15;
IO_LOC "push_sw_n[2]" G15;
IO_LOC "push_sw_n[3]" G16;
IO_PORT "push_sw_n[0]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "push_sw_n[1]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "push_sw_n[2]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "push_sw_n[3]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;


IO_LOC "i2c_scl" K25;
IO_LOC "i2c_sda" K26;
IO_LOC "i2c_sel[0]" N19;
IO_LOC "i2c_sel[1]" P19;
IO_LOC "i2c_sel[2]" P26;
IO_PORT "i2c_scl"    PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "i2c_sda"    PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "i2c_sel[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "i2c_sel[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "i2c_sel[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


IO_LOC "mipi0_rstn" L14;
IO_PORT "mipi0_rstn" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "mipi0_clk_p"     Y3;
IO_LOC "mipi0_clk_n"     AA3;
IO_LOC "mipi0_data_p[0]" V1;
IO_LOC "mipi0_data_n[0]" W1;
IO_LOC "mipi0_data_p[1]" Y2;
IO_LOC "mipi0_data_n[1]" AA2;

IO_LOC "dvi_tx_data_p[0]" AB24,AC24;
IO_PORT "dvi_tx_data_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "dvi_tx_data_p[1]" V24,AC24;
IO_PORT "dvi_tx_data_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "dvi_tx_data_p[2]" AA22,AA23;
IO_PORT "dvi_tx_data_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "dvi_tx_clk_p" Y22,Y23;
IO_PORT "dvi_tx_clk_p" PULL_MODE=NONE DRIVE=8;


# PMOD
# IO_LOC "pmod0[0]" N18;
# IO_LOC "pmod0[1]" L22;
# IO_LOC "pmod0[2]" R16;
# IO_LOC "pmod0[3]" R17;
# IO_LOC "pmod0[4]" M26;
# IO_LOC "pmod0[5]" N17;
# IO_LOC "pmod0[6]" L24;
# IO_LOC "pmod0[7]" T24;
# IO_PORT "pmod0[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_PORT "pmod0[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "pmod1[0]" C24;
IO_LOC "pmod1[1]" E25;
IO_LOC "pmod1[2]" L17;
IO_LOC "pmod1[3]" H14;
IO_LOC "pmod1[4]" B24;
IO_LOC "pmod1[5]" D25;
IO_LOC "pmod1[6]" L18;
IO_LOC "pmod1[7]" H15;
IO_PORT "pmod1[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod1[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "pmod2[0]" C21;
IO_LOC "pmod2[1]" B20;
IO_LOC "pmod2[2]" B19;
IO_LOC "pmod2[3]" A17;
IO_LOC "pmod2[4]" B21;
IO_LOC "pmod2[5]" A20;
IO_LOC "pmod2[6]" A19;
IO_LOC "pmod2[7]" A18;
IO_PORT "pmod2[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod2[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;



# DDR3
IO_LOC "ddr_bank[2]" K3;
IO_PORT "ddr_bank[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[1]" L5;
IO_PORT "ddr_bank[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[0]" M4;
IO_PORT "ddr_bank[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[14]" U5;
IO_PORT "ddr_addr[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[13]" U2;
IO_PORT "ddr_addr[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[12]" N3;
IO_PORT "ddr_addr[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[11]" P4;
IO_PORT "ddr_addr[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[10]" M1;
IO_PORT "ddr_addr[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[9]" T3;
IO_PORT "ddr_addr[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[8]" T4;
IO_PORT "ddr_addr[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[7]" U1;
IO_PORT "ddr_addr[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[6]" N4;
IO_PORT "ddr_addr[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[5]" T2;
IO_PORT "ddr_addr[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[4]" P1;
IO_PORT "ddr_addr[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[3]" N2;
IO_PORT "ddr_addr[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[2]" R2;
IO_PORT "ddr_addr[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[1]" R1;
IO_PORT "ddr_addr[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[0]" N1;
IO_PORT "ddr_addr[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_odt" J1;
IO_PORT "ddr_odt" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_cke" L3;
IO_PORT "ddr_cke" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=1.5;
IO_LOC "ddr_we" J3;
IO_PORT "ddr_we" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_cas" H1;
IO_PORT "ddr_cas" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_ras" H2;
IO_PORT "ddr_ras" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_cs" L4;
IO_PORT "ddr_cs" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_reset_n" N8;
IO_PORT "ddr_reset_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_ck" M2,L2;
IO_PORT "ddr_ck" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[3]" A3;
IO_PORT "ddr_dm[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[2]" E3;
IO_PORT "ddr_dm[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[1]" H9;
IO_PORT "ddr_dm[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[0]" F4;
IO_PORT "ddr_dm[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[31]" D1;
IO_PORT "ddr_dq[31]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[30]" G1;
IO_PORT "ddr_dq[30]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[29]" E2;
IO_PORT "ddr_dq[29]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[28]" F2;
IO_PORT "ddr_dq[28]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[27]" C2;
IO_PORT "ddr_dq[27]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[26]" G2;
IO_PORT "ddr_dq[26]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[25]" A2;
IO_PORT "ddr_dq[25]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[24]" E1;
IO_PORT "ddr_dq[24]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[23]" D4;
IO_PORT "ddr_dq[23]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[22]" A4;
IO_PORT "ddr_dq[22]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[21]" D5;
IO_PORT "ddr_dq[21]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[20]" D3;
IO_PORT "ddr_dq[20]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[19]" E5;
IO_PORT "ddr_dq[19]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[18]" B4;
IO_PORT "ddr_dq[18]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[17]" F3;
IO_PORT "ddr_dq[17]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[16]" C4;
IO_PORT "ddr_dq[16]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[15]" F7;
IO_PORT "ddr_dq[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[14]" G6;
IO_PORT "ddr_dq[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[13]" F8;
IO_PORT "ddr_dq[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[12]" D6;
IO_PORT "ddr_dq[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[11]" G8;
IO_PORT "ddr_dq[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[10]" H6;
IO_PORT "ddr_dq[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[9]" H8;
IO_PORT "ddr_dq[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[8]" E6;
IO_PORT "ddr_dq[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[7]" K6;
IO_PORT "ddr_dq[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[6]" K8;
IO_PORT "ddr_dq[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[5]" J5;
IO_PORT "ddr_dq[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[4]" K7;
IO_PORT "ddr_dq[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[3]" G5;
IO_PORT "ddr_dq[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[2]" L8;
IO_PORT "ddr_dq[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[1]" J6;
IO_PORT "ddr_dq[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[0]" G4;
IO_PORT "ddr_dq[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[3]" C1,B1;
IO_PORT "ddr_dqs[3]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[2]" B5,A5;
IO_PORT "ddr_dqs[2]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[1]" H7,G7;
IO_PORT "ddr_dqs[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[0]" J4,H4;
IO_PORT "ddr_dqs[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

