__pycache__/
pattern/input_*.ppm

verilator/dut_*.ppm
verilator/expected_*.ppm
verilator/obj_dir/
verilator/obj_dir_*/
verilator/tmp_*/
verilator/*.vcd
verilator/*.fst
verilator/gen_wrapper.sh

xsim/dut_*.ppm
xsim/expected_*.ppm
xsim/xsim.dir/
xsim/.Xil/
xsim/*.jou
xsim/*.log
xsim/*.pb
xsim/*.vcd
xsim/*.wdb