actdiag==2.0.0
alabaster==0.7.12
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
Babel==2.8.0
blinker==1.4
blockdiag==2.0.1
certifi==2020.6.20
chardet==3.0.4
click==6.7
cloud-init==20.2
colorama==0.3.7
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
constantly==15.1.0
cryptography==2.1.4
distro-info===0.18ubuntu0.18.04.1
docutils==0.16
funcparserlib==0.3.6
httplib2==0.9.2
hyperlink==17.3.1
idna==2.10
imagesize==1.2.0
importlib-metadata==1.7.0
incremental==16.10.1
Jinja2==2.11.2
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
Markdown==3.2.2
MarkupSafe==1.1.1
netifaces==0.10.4
nwdiag==2.0.0
oauthlib==2.0.6
packaging==20.4
PAM==0.4.2
Pillow==7.2.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycrypto==2.6.1
Pygments==2.7.0
pygobject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyparsing==2.4.7
pyserial==3.4
python-apt==1.6.5+ubuntu0.3
python-debian==0.1.32
pytz==2020.1
pyxdg==0.25
PyYAML==3.12
recommonmark==0.6.0
requests==2.24.0
requests-unixsocket==0.1.5
SecretStorage==2.3.1
seqdiag==2.0.0
service-identity==16.0.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==0.5.0
sphinxcontrib-actdiag==2.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-blockdiag==2.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-nwdiag==2.0.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-seqdiag==2.0.0
sphinxcontrib-serializinghtml==1.1.4
ssh-import-id==5.7
systemd-python==234
Twisted==17.9.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.10
webcolors==1.11.1
zipp==3.1.0
zope.interface==4.3.2
