recommonmark==0.7.1
Sphinx==8.2.3
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme==3.0.2
sphinxcontrib-actdiag==3.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-blockdiag==3.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-nwdiag==2.0.0
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-seqdiag==3.0.0
sphinxcontrib-serializinghtml==2.0.0
jinja2==3.1.6
